/* css styles */
@import url('https://rsms.me/inter/inter.css');
html { font-family: 'Inter', sans-serif; }
@supports (font-variation-settings: normal) {
  html { font-family: 'Inter var', sans-serif; }
}

:root {
  --bs-body-font-family: inter;
  --bs-body-font-size: 16px;
}

:root {
  --site-color-primary:  #F9F4D8;/*#ebfddd;*/
  --site-color-primary: #EE8320;
  --site-color-primary: #C29A68;
}

#quarto-header {
  border: 1px solid #dee2e6;
  background-color: #FFFFFF;
}

#quarto-header nav {
  max-width: 1300px;
  margin: auto;
}

#quarto-header .nav-link {
  padding-left: 5.4px !important;
  padding-right: 5.4px !important;
  margin-left: 20px !important;
  margin-right: 5.4px !important;
  font-size: 18px;
}

#quarto-header .nav-link .bi {
  font-size: 20px;
}

.nav-item .nav-link.active {
  /*background-color: #EE8320;*/
  border-bottom: black 2px solid;
}

.navbar {
  /*background-color: var(--site-color-primary);*/
  background-color: #FFFFFF;
  /*var(--site-color-primary);*/
  padding-top: 0px !important;
  padding-bottom: 0px !important;
  /*border-bottom: black 2px solid;*/
}

.navbar-title {
  color: black !important;
  font-weight: 800;
  font-size: 32px;
}

.navbar-nav .nav-link {
    color: black !important;
}

.navbar #quarto-search.type-overlay .aa-Autocomplete svg.aa-SubmitIcon {
  color: black;
}

.sidebar nav[role=doc-toc] ul>li>a.active, .sidebar nav[role=doc-toc] ul>li>ul>li>a.active
{
  color: black !important;
  /*color: #4D9089 !important;*/
  border-left: 2px solid #4D9089 !important;
}


/* INDEX PAGE ------------------------------------------ */




/*
 * Buttons
*/

.btn-action {
  min-width: 165px;
  border-radius: 30px;
  border: none;
}

/* content block */

.content-block {
  padding-top: 20px;
  padding-bottom: 10px;
  margin-left: 30px;
  margin-right: 30px;
}


@media(min-width: 900px) {
.content-block {
  margin-left: 50px;
  margin-right: 50px;
}
}

@media (min-width: 1200px) {
.content-block {
  max-width: 1100px;
  margin-left: auto;
  margin-right: auto;
}
}

.feature-blocks .grid {
  padding-top: 20px;
  padding-bottom: 20px;
}

.hero-banner {
  background-image: url('./assets/about-page_hero-banner.svg');
  background-size: auto 100%;
  background-position: center;
  height: 400px;
}

.hero-github-links {
  padding-top: 30px;
}

.hero-title {
  font-size: 64px;
  background-color: #FFFFFF77;
}
